
.title {
    background: rgb(1, 2, 20);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.content {
    background: rgb(1, 2, 20);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
}