
.title {
    background: white;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.content {
    background: white;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
}