.list {
    display:flex;
    gap: 50px;
    list-style:none;
}

.list li {
    position: relative;
    width: 100%;
    font-size:14px;
}

.list a {
    text-decoration: none;
}

.list li::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    bottom: -3px;
    left: 0;
    background: #000000;
    transition: 0.4s;
}

.list li:hover::after {
    width: 100%;
}

.listmobile {
    padding:0 3rem;
    list-style:none;
    font-size:1rem
}

.listmobile > a {
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
}

.listmobile li {
    padding: 1rem;
}

.navbar {
    top: 0;
    z-index: 1;
    transition: top 1s;
    box-sizing: border-box;
  }


.shadow {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: none;
}

.color {
    color:rgb(1, 8, 21);
}


