.header h1{
    font-size: 2rem;
    margin: 1em;
    font-weight: 800;
    text-align: center;
    font-family: "Abril Fatface", serif;
    color: #463b8a;
}

.card {
    background: linear-gradient(140deg, rgb(247, 229, 255), rgb(37, 8, 44)); 
    box-shadow: 0 5px 6px 2px rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    border-radius: 2px;
}