.box {
   background: linear-gradient(35deg, rgb(255, 255, 255), rgb(223, 231, 236)); 
    box-shadow: 0 5px 6px 2px rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack p {
    color: rgb(23, 10, 41);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 14px;
}

.stack h1 {
    color: rgb(23, 10, 41);
 
}
