.stacks {
    font-size: 5rem;
    background: linear-gradient(to right,rgb(130, 220, 255),rgb(255, 255, 255) 90%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    margin: 1em;
    text-align: center;
}